			body
			{
//				font-family:"Verdana, Geneva, sans-serif";
//				font-family:Arial, Helvetica, sans-serif;
				font-family:"Trebuchet MS", Helvetica, sans-serif;
				background-color:black;
				color:silver;
			}
			a
			{
				text-decoration:none;
				color:lightsteelblue;
			}
			a:hover
			{
				color:lightsalmon;
				text-decoration:underline;
			}
			a:visited
			{
			}
			div.sec
			{
				border-radius:25px;
				margin:10px;
				padding:10px;
				border:2px dimgray solid;
			}
			div.sec div.title
			{
				text-align:left;
				font-size:150%;
				font-weight:bold;
				font-family:courier new;
			}
			div.sec div.subtitle
			{
				text-align:left;
				font-size:120%;
				font-weight:bold;
				color:lightgray;
				font-family:courier new;
			}
			div.sec div.title span.title
			{
				background-color:black;
				padding-right:10px;
				padding-left:10px;
				color:white;
			}
			div.sec div.title:before
			{
//				content:"\b7";
			}
			div.sec div.title:after
			{
//				content:"\b7";
			}
			div.sec div.content
			{
				padding:10px;
			}
			span.subtitle
			{
				font-weight:bold;
			}
			span.subtitle:before
			{
			}
			span.subtitle:after
			{
			}
			a.course
			{
			}
			div.title_name
			{
				text-align:left;
				font-size:400%;
				padding-left:50px;
				font-family:arial;
			}
			span.title_first_name
			{
				color:darkgray;
			}
			span.title_last_name
			{
				font-weight:bold;
				color:white;
			}
			table.whole
			{
				border-collapse:separate;
				border-spacing:10px;
				table-layout:auto;
				width:80%;
			}
			table.whole td
			{
				padding:10px;
			}
			table.whole td.title
			{
				border-width:0px;
				padding:0px;
			}
			a.title
			{
				font-style:italic;
				font-weight:bold;
			}
			a.title:before
			{
				content:open-quote;
			}
			a.title:after
			{
				content:close-quote;
			}
			li.paper
			{
				margin-bottom:10px;
			}
			li.paper span.title
			{
				font-style:italic;
				font-weight:bold;
			}
			li.paper span.title:before
			{
				content:open-quote;
			}
			li.paper span.title:after
			{
				content:close-quote;
			}
			span.year
			{
				font-weight:bold;
				color:white;
			}
			div.footnote
			{
				font-style:italic;
				text-align:center;
			}
